<!DOCTYPE html>
<html>
  <head>
    <title>Reservster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if owner_signed_in? %>
      <%= link_to "Log Out", destroy_owner_session_path, method: :delete%>
    <% else %>
      <%= link_to "Log In", owner_session_path %>
    <% end %>
  </head>

  <body>
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
